@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import "bootstrap";
@import "flatpickr/dist/themes/material_blue.css";

@import "../styles/events";
@import "../styles/polls";
@import "../styles/comments";
@import "../styles/addresses";
@import "../styles/dynamic-list";

label.side-label {
  margin: 0 1em;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75rem;
}

.input-group .btn {
  // Override this to fix z-index issues with datetimepicker alongside buttons
  z-index: 0;
}
