%h1 Welcome to Parties for All!

%p You can organize events with your friends here.
.row.align-items-end
    .col-md.my-2
        %p
            %strong If you're here to RSVP to a friend's event,
            click the button below to find the event in the list of public events.
        %p.mb-3 If the event is secret, you'll need to go directly to the link you got from the host. Secret events don't show up in event lists until you RSVP to them.

        = link_to "Browse public events", events_path, class: 'btn btn-primary btn-lg btn-block'
    .col-md.my-2
        %p
            %strong If you're here to host your own event,
            - if current_user
                click the button below to organize a new event, or click "Organize an event" under "Host" in the navigation bar.
            - else
                you'll need to log in first. Click the button below to log in, or click 'Log in' in the navigation bar.

        - if current_user
            = link_to "Organize an event", new_event_path, class: 'btn btn-success btn-lg btn-block'
        - else
            = link_to "Log in", new_user_session_path, class: 'btn btn-success btn-lg btn-block'

