- if event.attended_by?(attendee)
  .row
    .m-2.col-sm.text-decoration-none= link_to t('event.add_to_gcal'), gcal_url(event)
    .m-2.col-sm-auto.text-decoration-none= link_to t('event.download_ics'), ical_event_path(event)
