- title t('event.form.title.edit', title: @event.title)
%h1.title= t('event.form.header.edit', title: @event.title)
= render 'form', event: @event
= link_to t('form.show'), @event
|
= link_to t('back'), events_path
