- if address.first_line.present? || address.second_line.present?
  %address.pr-1
    - if address.first_line.present?
      .font-weight-bold= address.first_line
    - if address.second_line.present?
      %div= address.second_line
