on:
  workflow_run:
    workflows: [Run tests]
    types: [completed]
    branches: [master]
jobs:
  deploy-prod:
    runs-on: ubuntu-latest
    environment: production
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - uses: ./.github/workflows/deploy.yml
      with:
        environment: production
      secrets: inherit