on:
  workflow_run:
    workflows: [Run tests]
    types: [completed]
    branches: [staging]
jobs:
  deploy-staging:
    secrets: inherit
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/deploy.yml
    with:
      environment: staging